body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff; 
    color: #000; 
}

header {
    background-color: #333; 
    color: #fff; 
    text-align: center;
    padding: 20px;
}

.centered {
    text-align: center;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #333; 
    border: 1px solid #000; 
    border-radius: 10px; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); 
}

h2 {
    font-size: 24px;
    color: #fff; /* Texte blanc */
}

#about h2 img {
    max-width: 25px; /
    height: auto; 
}

p {
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    color: #fff; /* Texte blanc */
}

.about-content {
    display: flex;
    align-items: center;
}

.about-image {
    flex: 1;
    padding: 20px;
}

.about-text {
    flex: 2;
    padding: 20px;
}

.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 50%; 
}

.social-icons li {
    display: inline-block; 
    margin: 0 90px;
}

.social-icons img {
    width: 50px; 
    height: auto; 
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

footer a {
    color: #fff;
    text-decoration: none;
}
